**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/TestResults
**/tests
**/.dockerignore
**/Dockerfile
**/docker-compose*.yml
**/*.md
**/.gitignore
**/.gitattributes
**/fileconverter.db
**/fileconverter.db-*
src/FileConverter.Maui/
